element {
    direction: ltr;
    overflow: hidden;
    text-align: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: Arial,sans-serif;
    -moz-user-select: none;
    font-size: 13px;
    background: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(230, 230, 230)) repeat scroll 0% 0% transparent;
    padding: 1px 6px;
    border: 1px solid rgb(113, 123, 135);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    min-width: 29px;
}

element {
    cursor: pointer;
}